.root {
    -fx-font-size: 22px;
    -fx-font-family: "Verdana";
    -fx-base: #adadad;
    -fx-background: #dadada;
}

.left-pane {
    -fx-background-color: GRAY;
}

.top {
    -fx-font-size: 48px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.metaData {
    -fx-font-size: 36px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.bottom {
    -fx-font-size: 15px;
}